html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'LadylikeBB';
  src: url('https://files.krazydad.com/assets/LadylikeBB.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
canvas#sketch-canvas {
  display: block;
  margin: 0 auto;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}
div.outer-container {
  display: flex;
  flex-direction: row;
  background: black;
  margin: auto auto;
}
div.sketch-canvas-container {
  background-color: #000000;
}
div.sliders-canvas-container {
  background-color: #000000;
  margin: auto 1rem;
}
