html, body {
  margin: 0;
  padding: 0;
  background-color: #444;
}

canvas#sketch-canvas {
  display: block;
  margin: 0 auto;
}

div.outer-container {
  display: flex;
  flex-direction: row;
  background: black;
  width: 650px;
  height: 512px;
}
div.sketch-canvas-container {
  width: 512px;
  background-color: #000000;
}
div.sliders-canvas-container {
  width: 150px;
  height: 512px;
  background-color: #000000;
}
